---
import { v4 as uuidv4 } from 'uuid';

type Props = {
    gistCode: string;
    fileName: string;
};

const { gistCode, fileName } = Astro.props as Props;

const gistUrl = `https://gist.github.com/Stratis-Dermanoutsos/${gistCode}.js?file=${fileName}`;
const rawUrl = `https://gist.githubusercontent.com/Stratis-Dermanoutsos/${gistCode}/raw/${fileName}`;

let code: String;
await fetch(rawUrl)
    .then(res => res.text())
    .then(text => { code = text });

const id = `${fileName.replace(/\.\w+$/, '')}-${uuidv4()}`;
---

<div id={id}>
    <script src={gistUrl} />
    <script define:vars={{ id, code }}>
        //* Get the gist element
        const gist = document.getElementById(id).getElementsByClassName('gist')[0];

        //* Add a button
        const button = document.createElement('button');
        button.innerHTML = '<svg fill="none" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512">' +
                            '<path fill="#fff" fill-rule="evenodd" d="M224 0c-35.3 0-64 28.7-64 64V288c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H224zM64 160c-35.3 0-64 28.7-64 64V448c0 35.3 28.7 64 64 64H288c35.3 0 64-28.7 64-64V384H288v64H64V224h64V160H64z"/>' +
                            '</svg>';
        button.addEventListener('click',
            e => navigator.clipboard.writeText(code));

        //* Add the button to the gist
        gist.appendChild(button);
    </script>   
</div>
